.container {
  padding: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.themeDark {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.themeLight {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
