.container {
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.themeDark {
  background-color: purple;
  color: orange;
}

.themeLight {
  background-color: darkcyan;
  color: lightgray;
}
